/* Universal selector reset for margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

:root {
    --header-width: 50%;
    
    --button-height: 30px;
    --left-side-boder-radius: 4px;
    --section-padding: 10px 5px;
    --gap-forecast: 5%;
}

/* Header */
header  {
    background-color: #FFCBA4; 
    box-shadow: 1px 1px 5px gray;
    display: flex;
    flex-direction: row;
    height: 150px;
    align-items: center;
    padding:15px;
}

/* Header - Left part*/
#left-header {
    width: var(--header-width);
    
}

/* Header - Right part*/
#right-header {
    width: calc(100%-var(--header-width));
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#history-wrapper {
    position: relative;
    

} 

/* Dropdown List */
#history-list {
  display: none;
  position: absolute;
  top: 105%; /* below button */
  left: 0;   /* align left with button */
  width: 200px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}



/* Modal overlay */
.modal {
  display: none; /* hidden by default */
  position: fixed; 
  z-index: 100; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.5); /* semi-transparent background */
}

/* Modal content box */
.modal-content {
  background-color: white;
  margin: 15% auto; /* center vertically & horizontally */
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  cursor: pointer;
}

.close:hover {
  color: black;
}

/* Skeleton container */
.skeleton-card {
  background-color: #c79c9c; 
  border-radius: 8px;
  width: 300px;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

/* Skeleton shimmer animation */
.skeleton-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 50px;
  background: linear-gradient(90deg, transparent, rgba(255,255,255,0.4), transparent);
  animation: shimmer 5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(450px);
  }
}

/* Results */

#results{
  padding: 10px;
}


/* Pagination */
#pagination {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

#pagination button {
  border: none;
  padding: 6px 10px;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 4px;
}

#pagination button:hover {
  background-color: #aaa;
}

.unsplash-img {
  width: 120px;
  height: 90px;
  object-fit: cover;
  border-radius: 6px;
}

#image-gallery {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

#pagination button.active-page {
  background-color: #444;
  color: white;
}


/* Fade-in animation */

.fade-in {
  animation: fadeIn 3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

