/* Universal selector reset for margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Skeleton shimmer animation */
.skeleton-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  height: 100%;
  width: 30%;
  background: linear-gradient(90deg, transparent, rgba(255,255,255,0.4), transparent);
  animation: shimmer 5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(500%);
  }
}


/* Results */

#results{
  padding: 10px;
}


/* Pagination */
#pagination {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

#pagination button {
  border: none;
  padding: 6px 10px;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 4px;
}

#pagination button:hover {
  background-color: #aaa;
}

.unsplash-img {
  width: 120px;
  height: 90px;
  object-fit: cover;
  border-radius: 6px;
}

#image-gallery {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

#pagination button.active-page {
  background-color: #444;
  color: white;
}


/* Fade-in animation */

.fade-in {
  animation: fadeIn 3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

